!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body
    .wrapper
      include ../includes/header
      .container
        .main-content
          .main-head
            block main
          block content
      .push
    include ../includes/footer
    include ../includes/foot
